* {
    margin: 0;
    padding: 0;
    line-height: 0;
}


body {
    background-color: #ccc;
    text-align: center;
}

.container {
    width: 600px;
    margin: 10px auto;
    border: 5px solid white;
    overflow: auto;
}

.jumbo {
    width: 100%;
    height: auto; /* adjust as needed */
    max-height: 300px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.thumb{
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.thumb:hover{
    opacity: 50%;
    cursor: pointer;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.transition {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.active{
    opacity: 0.7;
}